[Unit]
Description=Solana Validator Daemon
After=network.target

[Service]
User=solanauser
Type=simple
ExecStart=/home/solanauser/scripts/solana-validator.sh
Restart=no
#Restart=on-failure
#RestartSec=10
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target